extends ../layout/main
block metaKeywords
	meta(name="keywwords", content="")
block metaDescription
	meta(name="description", content="")
block title
	| Главная страница

block content
	section#hello.section.s-light
		.container
			.row
				.hello-right.col-12.col-md-4.offset-md-1.order-md-12
					.js-hello-slider
						.hello-slider__item
							img(src="img/iPad.png", alt="iPad").hello-slider__img
						.hello-slider__item
							img(src="img/smart-cover.png", alt="smart-cover").hello-slider__img
						.hello-slider__item
							img(src="img/iMac.png", alt="Mac").hello-slider__img
				.hello-left.col-12.col-md-6.offset-md-1
					h2.h2 This is Bouncy
					p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
					a(href="#").btn.btn--dark Read More
	section#about.section.s-dark
		.container
			.about-top.text-center
				h2.h2.w-100 Details about bouncy
				p.text-description At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
			.js-about-slider
				.slider-item
					h3.h3 Creative Ideas
					.row
						.slider-item__left.col-12.col-md-5
							p At #[span.accent-text vero] eos et accusamus et iusto odio dignissimos #[span.bold-text ducimus] qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
						.slider-item__right.col-12.col-md-6.offset-md-1
							p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque #[span.bold-text corrupti quos] dolores et quas molestias #[span.accent-text excepturi] sint occaecati cupiditate non provident, #[span.bold-text similique] sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r
				.slider-item
					h3.h3 Great Design
					.row
						.slider-item__left.col-12.col-md-5
							p  Lorem ipsum dolor #[span.accent-text sit amet], consectetur adipisicing elit. Nihil, dolorum!
						.slider-item__right.col-12.col-md-6.offset-md-1
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque veniam non consequuntur tenetur deserunt ducimus asperiores provident #[span.bold-text quibusdam facere] rerum corrupti placeat aut commodi itaque minus, ullam debitis, atque ratione?
				.slider-item
					h3.h3.font-md Branding
					.row
						.slider-item__left.col-12.col-md-5
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. #[span.accent-text Libero assumenda] dolor delectus corporis, totam, suscipit.
						.slider-item__right.col-12.col-md-6.offset-md-1
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, dolorem, excepturi ad dignissimos quia sit earum. Inventore ullam, #[span.bold-text numquam deserunt obcaecati] iste aperiam voluptates ratione, eveniet, eius perspiciatis et ipsa.
	section#projects.section.s-light
		.projects-top.text-center
			h2.h2 Feautured projects
			p.text-description At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
		.projects-middle
			.projects-item.overlay.overlay--darker
				a(href="#")
					img(src="img/projects-item1.jpg", alt="projects-item1")
				h3.projects-item_title Design
			.projects-item.overlay.overlay--darker
				a(href="#")
					img(src="img/projects-item2.jpg", alt="projects-item2")
				h3.projects-item_title Vintage
			.projects-item.overlay.overlay--darker
				a(href="#")
					img(src="img/projects-item3.jpg", alt="projects-item3")
				h3.projects-item_title Branding
		.projects-bottom.overlay.overlay--accent
			.container
				.projects-bottom__inner
					.row.justify-content-between.align-items-center
						.col-12.col-md-8
							p.font-md At vero eos et #[span.bold-text accusamus] et iusto odio dignissimos ducimus qui blanditiis 
						.col-12.col-md-3.offset-md-1
							a(href="#contact").btn.btn--light Submit Now
	section#services.section.s-dark
		.container
			.services-top.text-center
				h2.h2 Feautured projects
				p.text-description At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
			.row.services-bottom
				.col-12.col-md-6.services-bottom__left
					.row
						ul.services-icons.col-auto
							li.services-icons__item.active
								i.icon-circle.pe-7s-tools
							li.services-icons__item
								i.icon-circle.pe-7s-paint
							li.services-icons__item
								i.icon-circle.pe-7s-joy
							li.services-icons__item
								i.icon-circle.pe-7s-plug
						.services-tabs.col
							.services-tabs__item.active
								h3.h3 Branding
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. #[span.accent-text ]Dicta excepturi, ducimus ullam. delectus, reprehenderit totam.
								p.font-sm Lorem ipsum dolor sit amet, consectetur #[span.accent-text adipisicing elit]. Illum, in. Optio laudantium sit dolores ratione!
							.services-tabs__item
								h3.h3 Graphic Design
								p At vero eos et accusamus et #[span.accent-text iusto] odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
								p.font-sm quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, #[span.accent-text similique sunt] in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
							.services-tabs__item
								h3.h3 User Interface
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, a!
								p.font-sm  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto incidunt maiores #[span.accent-text quae enim nulla], excepturi quasi eaque dignissimos nisi commodi.
							.services-tabs__item
								h3.h3 Hosting
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit #[span.accent-text quod culpa] fugit nam! Libero, tempora, explicabo. Maxime refacilis earum. Porro repellat laudantium. Ad, accusantium.
								p.font-sm  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae iste #[span.accent-text inventore modi] molestias impedit eveniet? Laboriosam.
				.col-12.col-md-6.services-bottom__right.align-self-center.text-center
					.progressbar-item
						#progressbar1.circle(data-percent="80")
							strong
						span.progressbar-item__title.font-sm Branding
					.progressbar-item
						#progressbar2.circle(data-percent="70")
							strong
						span.progressbar-item__title.font-sm Web Design
					.progressbar-item
						#progressbar3.circle(data-percent="65")
							strong
						span.progressbar-item__title.font-sm UI/UX
	section#quotes.section.overlay.overlay--darker
		.container
			.row
				.col-12.col-lg-6.quotes__left
					h3.h3.font-md Impressed?
					p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
					span.author-name.font-sm - Abdullah Noman
					span.author-position.font-sm Creative Director, #[span.accent-text Code Cafe]
				.col.quotes__right
					img(src="img/iMacBouncy.png", alt="iMac")
	section#portfolio.section.s-dark
		.container
			.portfolio-top.text-center
				h2.h2 The Portfolio
				p.text-description At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
			.portfolio-middle
				ul.portfolio-categories.text-center
					li.portfolio-categories__item.selected
						a(href="#"	data-category="all" rel="all") All Works
					li.portfolio-categories__item
						a(href="#" data-category="print" rel="print") Print
					li.portfolio-categories__item
						a(href="#" data-category="identity" rel="identity") Identity
					li.portfolio-categories__item
						a(href="#" data-category="branding" rel="branding") Branding
					li.portfolio-categories__item
						a(href="#" data-category="web" rel="web") Web
					li.portfolio-categories__item
						a(href="#" data-category="html" rel="html") HTML
					li.portfolio-categories__item
						a(href="#" data-category="wp" rel="wp") WordPress
				#gallery(data-columns)
					div(rel="print").gallery-item
						img(src="img/gallery/thumb/g1.jpg" alt="Title here" data-category="print").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle.icon-circle--dark.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
					div(rel="print").gallery-item
						img(src="img/gallery/thumb/g2.jpg" alt="Title here" data-category="print").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle.icon-circle--dark.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
					div(rel="print").gallery-item
						img(src="img/gallery/thumb/g3.jpg" alt="Title here" data-category="print").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle.icon-circle--dark.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
					div(rel="identity").gallery-item
						img(src="img/gallery/thumb/g4.jpg" alt="Title here" data-category="identity").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle--dark.icon-circle.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
					div(rel="identity").gallery-item
						img(src="img/gallery/thumb/g5.jpg" alt="Title here" data-category="identity").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle.icon-circle--dark.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
					div(rel="branding").gallery-item
						img(src="img/gallery/thumb/g6.jpg" alt="Title here" data-category="branding").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle.icon-circle--dark.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
					div(rel="branding").gallery-item
						img(src="img/gallery/thumb/g7.jpg" alt="Title here" data-category="branding").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle.icon-circle--dark.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
					div(rel="web").gallery-item
						img(src="img/gallery/thumb/g8.jpg" alt="Title here" data-category="web").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle.icon-circle--dark.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
					div(rel="html").gallery-item
						img(src="img/gallery/thumb/g9.jpg" alt="Title here" data-category="html").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle.icon-circle--dark.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
					div(rel="wp").gallery-item
						img(src="img/gallery/thumb/g10.jpg" alt="Title here" data-category="wp").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle.icon-circle--dark.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
					div(rel="wp").gallery-item
						img(src="img/gallery/thumb/g11.jpg" alt="Title here" data-category="wp").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle.icon-circle--dark.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
					div(rel="branding").gallery-item
						img(src="img/gallery/thumb/g12.jpg" alt="Title here" data-category="branding").gallery-item__img
						.gallery-item__hover
							.gallery-item__hover-inner
								h4.h4.font-md Title here
								p.font-sm At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
								a(href="#").gallery-item__link
									i.icon-circle.icon-circle--dark.pe-7s-link
								a(href="#").gallery-item__like
									i.icon-circle.icon-circle--dark.pe-7s-like
			.portfolio-bottom.overlay.overlay--accent.text-center
				.portfolio-bottom_inner
					p.font-md At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
					a(href="#contact").btn.btn--light Start Project