extends ../layout/main
block metaKeywords
	meta(name="keywwords", content="")
block metaDescription
	meta(name="description", content="")
block title
	| Главная страница

block content
	section#hello.section.s-light
		.container
			.row
				.hello-right.col-12.col-md-4.offset-md-1.order-md-12
					.js-hello-slider.carousel.slide(data-ride="carousel")
						.carousel-inner
							.hello-slider__item.carousel-item.active
								img(src="img/iPad.png", alt="iPad").hello-slider__img
							.hello-slider__item.carousel-item
								img(src="img/smart-cover.png", alt="smart-cover").hello-slider__img
							.hello-slider__item.carousel-item
								img(src="img/iMac.png", alt="Mac").hello-slider__img
				.hello-left.col-12.col-md-6.offset-md-1
					h2.h2 This is Bouncy
					p.text-description At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
					a(href="#").btn.btn--dark Read More
				
				

