footer#footer.section.section--darkBg
	.container
		.footer-inner.row.align-items-center
			a.footer-logo(href="#")
				img(src="img/footer-logo.png", alt="logo")
			p.font-sm Copyright 2015. All rights Reserved
			ul.social-list
				li
					a(href="#")
						i.icon-social.flaticon-facebook-logo-button
				li
					a(href="#")
						i.icon-social.flaticon-twitter-logo-button
				li
					a(href="#")
						i.icon-social.flaticon-linkedin-button
				li
					a(href="#")
						i.icon-social.flaticon-instagram-logo
				li
					a(href="#")
						i.icon-social.flaticon-vk-social-logotype