@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
	#nav-toggle
		display: inline-block	
	.nav-list
		display: none
		position: absolute
		top: 0
		right: 0
		padding: 70px
		width: auto
		background: rgba(0,0,0,.8)
		z-index: 50
		text-align: center
		li
			margin: 15px 20px
	.quotes__right
		display: none

	#gallery[data-columns]
		&:before 
			content: '3 .column.size-1of3'
	.contact-details
		max-width: 220px
// ≥768px
+media-breakpoint-down(sm)
	.hello-right
		margin-bottom: 20px
	.hello-right,
	.hello-left
		text-align: center
	.hello-carousel__img
		max-height: 150px
	.section
		padding-top: 40px
		padding-bottom: 40px
	.projects-bottom__inner
		text-align: center
		p
			margin-bottom: 20px
	.projects-item
		height: 250px
	#gallery[data-columns]
		&:before 
			content: '2 .column.size-1of2'
	.portfolio-categories__item
		margin-right: 15px
	.team-item__right
		padding-right: 0
	.team-item__left
		margin: 0 auto
		width: 150px
		img
			width: 100%
			height: auto
			margin-bottom: 15px
		&-hover
			width: 140px
		.social-list
			flex-direction: column
			li
				margin-right: 0
	.author-data
		text-align: center
		p
			margin: 20px auto
	.author-skills
		width: 80%
		margin: 0 auto
	.skills-item
		margin-bottom: 15px
	.slick-dots--light
		right: 0
	.price-bottom
		flex-direction: column
		align-items: center
		&__item
			margin-bottom: 15px
	.contact-bottom
		flex-direction: column
		align-items: center
	.contact-details__top
		padding-bottom: 90px
		img
			display: none
	.contact-details
		max-width: 280px
		width: 280px
		margin-bottom: 15px

// ≥576px
+media-breakpoint-down(xs)

	.projects-middle
		flex-direction: column
	.projects-item
		margin: 15px auto 0
		max-width: 250px
	#gallery[data-columns]
		&:before 
			content: '1 .column.size-1of1'
	.gallery-item
		width: 290px
		height: 230px
		margin: 0 auto
	.portfolio-categories__item
		width: 20%
		margin-bottom: 30px
	.portfolio-categories
		margin-bottom: 0
	.testimonials-bottom__left
		img
			margin-left: auto
			margin-right: auto
	.testimonials-bottom__right
		span
			text-align: center
	.blog-item
		text-align: center
	.blog-item__top
		p
			margin-bottom: 30px
	#subscribe-form
		input[type="email"]
			margin-bottom: 20px
	.map-find
		text-align: center
		&__text
			display: block
			margin-right: 0
			margin-bottom: 30px



/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
