$default-font: "openSans", sans-serif
$headers-font: "sourceSansPro", sans-serif
$accent: #0cae8e
$mainTextColor: #81868e
$lightTextColor: #fff
$titleColor: #333b46
$darkColor: #464646
$lightColor: #b2b3b3
$socColor: #2c283f
$footerSocColor: #0e76a8
$footerColor: #f3f3f3

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
