@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%
	margin: 0
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.78
	font-family: $default-font
	overflow-x: hidden
	color: $mainTextColor
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
ul
	list-style: none
	margin: 0
	padding: 0

.container
	max-width: 1170px
	margin: 0 auto
	z-index: 1
	position: relative

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

.h1,.h2,.h3,.h4,.h5,.h6
	font-family: $headers-font
	font-weight: normal
.h1
	font-size: 35px
	color: $lightTextColor
.h1,
.h2
	text-transform: uppercase
	letter-spacing: 2px
.h2
	color: $titleColor
	font-size: 20px
.h3
	font-size: 20px
	color: $darkColor
	font-weight: bold
	margin-bottom: 40px

.h4
		color: $accent
		font-style: normal
		line-height: 1
		&:after
			content: ""
			display: block
			margin-top: 20px
			width: 20px
			height: 1px
			background-color: $accent
		&+p
			margin: 20px 0

.section
	padding-top: 80px
	padding-bottom: 80px

.section--lightBg
	background-color: $lightTextColor
.section--darktBg
	background-color: $footerColor
.section--accentBg
	background-color: $accent

.btn
	display: inline-block
	font-size: 16px
	line-height: 1
	padding: 10px 35px
	border-radius: 20px
	transition: all .3s
	white-space: nowrap

.btn--dark
	color: $titleColor
	border: 1px solid $titleColor
	&:hover
		text-decoration: none
		color: $lightTextColor
		background-color: $accent
		border-color: $accent

.btn--light
	color: $lightTextColor
	border: 1px solid $lightTextColor
	&:hover
		text-decoration: none
		color: $accent
		background-color: $lightTextColor
		border-color: $accent	
.mb0
	margin-bottom: 0
.text-description
	margin: 40px auto
	max-width: 500px

.font-sm
	font-size: 14px

.font-md
	font-size: 20px

.icon-circle
	padding: 15px
	background-color: $mainTextColor
	border-radius: 50%
	color: $lightTextColor
	transition: all .3s
	&--accent,
	&:hover
		background-color: $accent
	&--accent,
		&:hover
			text-decoration: none
			color: $accent
			background-color: $lightTextColor
	&--dark
		background-color: #000
		font-size: 15px
		padding: 5px
		margin-right: 10px

.icon-social
	border-radius: 50%
	color: $socColor
	&:before
		font-size: 30px
	&:hover
		color: $accent
.social-list
	display: flex
	li
		margin-right: 10px
		&:last-child
			margin-right: 0
		a
			text-decoration: none


.overlay
	position: relative
	&:after
		content: ""
		position: absolute
		display: block
		top: 0
		left: 0
		bottom: 0
		right: 0
.overlay--dark
	&:after
		background-color: rgba(0,0,0,.5)
.overlay--darker
	&:after
		background-color: rgba(0,0,0,.85)
.overlay--accent
	&:after
		background-color: rgba(25,189,154,.85)
.overlay--light
	&:after
		background-color: rgba(255,255,255,.75)

.bold-text
	font-weight: bold
.accent-text
	color: $accent
	font-weight: bold

/////////////////////HEADER START/////////////

#header
	background: #000 url(../img/header-bg.jpg) no-repeat center
	background-size: cover
	color: $lightTextColor
.header
	&-inner
		padding: 45px 15px 70px
		height: 100vh
		
.nav-list
	margin-bottom: 0
	&__link
		color: $lightTextColor
		border: 1px solid transparent
		border-radius: 20px
		padding: 10px 20px
		transition: all .3s
		&.active,
		&:hover
			color: $lightTextColor
			border: 1px solid $lightTextColor
			text-decoration: none
			line-height: 1
/*sandwich button begin*/
#nav-toggle
	display: none
	z-index: 50
	span
		position: absolute
		right: 0
		top: 10px
		z-index: 50
		cursor: pointer
		border-radius: 1px
		height: 5px
		width: 35px
		background: white
		display: block
		transition: all 500ms ease-in-out
		&:before
			top: -10px
		&:after
			bottom: -10px
		&:before,
		&:after
			cursor: pointer
			border-radius: 1px
			height: 5px
			width: 35px
			background: white
			position: absolute
			display: block
			content: ''
			transition: all 500ms ease-in-out
	&.active
		span
			background-color: transparent
			&:before,
			&:after
				top: 215px
			&:before
				transform: rotate(45deg)
			&:after
				transform: rotate(-45deg)
/*sandwich button end*/



/////////////////////HEADER END/////////////

/////////////////////SECTION HELLO START/////////////

#hello
	.btn
		margin-top: 50px
.hello-slider__img
	margin: 0 auto
	max-width: 100%
	max-height: 300px
.hello-left
	p
		margin-top: 40px

/////////////////////SECTION HELLO END/////////////////

/////////////////////SECTION ABOUT START/////////////////

.dots-list
	position: absolute
	display: flex
	padding: 0
	top: -115px
	left: 50%
	transform: translateX(-50%)
	li
		margin-right: 40px
		&:last-child
				margin-right: 0
		&.slick-active
			i
				background-color: $accent
		&:nth-of-type(1)
			i
				&:before
					content: "\e631"
		&:nth-of-type(2)
			i
				&:before
					content: "\e642"
		&:nth-of-type(3)
			i
				&:before
					content: "\e643"
		i
			font-size: 35px
			line-height: 1
			font-family: Pe-icon-7-stroke
			font-style: normal
.js-about-slider
	margin-top: 175px

/////////////////////SECTION ABOUT END/////////////////

/////////////////////SECTION PROJECTS START/////////////////

#projects
	padding-bottom: 0
.projects-bottom
	background: url(../img/projects_bottom-bg.jpg) no-repeat center
	background-size: cover
	padding: 40px 0
	&__inner
		color: $lightTextColor
		p
			margin-bottom: 0

.projects-middle
	display: flex
.projects-item
	height: 320px
	flex: 2
	transition: all .5s
	img
		width: 100%
		height: 100%
		overflow: hidden
	&:hover
		flex: 3
		transition: all .5s

.projects-item_title
	position: absolute
	top: 50%
	left: 50%
	z-index: 1
	transform: translate(-50%, -50%)
	color: $lightTextColor
	text-transform: uppercase
	font-family: $headers-font
	font-weight: normal

/////////////////////SECTION PROJECTS END/////////////////

/////////////////////SECTION SERVICES START/////////////////
.services-icons
	margin-top: 10px
	&__item
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
		&.active
			i
				background-color: $accent
.services-tabs__item
	display: none
	&.active
		display: block
	.h3+p
		margin-bottom: 40px

.progressbar-item
	text-align: center
	position: relative
	display: inline-block
	margin-right: 2%
	&:last-child
		margin-right: 0
	
.progressbar-item__title
	display: block
	margin-top: 10px
.circle 
    display: inline-block
    position: relative
    text-align: center
    vertical-align: middle
    strong
    	position: absolute
    	top: 35px
    	left: 3px
    	width: 100%
    	text-align: center
    	font-size: 20px
    	line-height: 1

/////////////////////SECTION SERVICES END/////////////////

/////////////////////SECTION QUOTES START/////////////////

#quotes
	color: $lightColor
	background: url(../img/quotes_bg.jpg) no-repeat center
	background-size: cover
	.h3
		text-transform: uppercase
		color: $lightTextColor
.author-name,
.author-position
	text-transform: uppercase
	display: block
.author-name
	font-weight: bold
.quotes__left
	.h3+p
		margin: 80px 0 50px
.quotes__right
	position: relative
	img
		position: absolute
		top: -110px
		right: 0


/////////////////////SECTION QUOTES END/////////////////

/////////////////////SECTION PORTFOLIO START/////////////////
.portfolio-middle
	overflow: hidden
.portfolio-categories
	margin-bottom: 60px
.portfolio-categories__item
	display: inline-block
	position: relative
	margin-right: 30px
	&:last-child
		margin-right: 0
	&.selected:after,
	&:hover:after
		content: ''
		display: block
		height: 2px
		width: 40px
		background-color: $accent
		position: absolute
		bottom: -15px
		left: 50%
		transform: translateX(-50%)
	a
		color: $darkColor
		white-space: nowrap
		&:hover
			text-decoration: none

#gallery[data-columns]
	min-height: 300px
	.gallery-item__img
		display: block
		width: 100%
		min-height: 230px
	&:before 
		content: '4 .column.size-1of4'
	.size-1of4
		width: 25%
	.size-1of3
		width: 33.333%
	.size-1of2
		width: 50%
	.size-1of1
		width: 100%
	.column
		float: left
.gallery-item
	position: relative
	&:hover
		.gallery-item__hover
			display: block
			transition: all .7s

.gallery-item__hover
	display: none
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	transition: all .7s
	background-color: rgba(0,0,0,.85)
	&-inner
		position: absolute
		top: 50%
		left: 40px
		right: 40px
		transform: translateY(-50%)
.portfolio-bottom
	background: url(../img/portfolio-bottom-bg.jpg) no-repeat center
	background-size: cover
	padding: 60px 0
	color: $lightTextColor
	&_inner
		position: relative
		z-index: 1
	p
		margin-bottom: 30px

/////////////////////SECTION PORTFOLIO END/////////////////

/////////////////////SECTION TEAM START/////////////////

.team-item__icons
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)

.team-item__left
	position: relative
	img
		max-width: 285px

	&:hover
		.team-item__left-hover
			display: block
.team-item__left-hover
	position: absolute
	display: none
	width: 275px
	top: 5px
	left: 5px
	right: 5px
	bottom: 5px
	background-color: rgba(255,255,255,.75)
.team-item__right
	position: relative
	padding-right: 40px
	&:after
		content: ''
		display: block
		height: 40px
		width: 4px
		background-color: $accent
		position: absolute
		top: 10px
		right: 0
	p 
		margin: 40px 0
.author-data
	text-align: right
	p
		max-width: 395px
.skill-header
	text-transform: uppercase
.skills-item
	margin-bottom: 35px
	&:last-child
		margin-bottom: 0
.skill-header
	display: flex
	justify-content: space-between
	margin-bottom: 10px
.progress-bar
	position: relative
	display: block
	width: 100%
	height: 4px
	background-color: $lightColor
	&>span
		position: absolute
		top: 0
		left: 0
		display: inline-block
		background-color: $accent
		width: 0
		height: 4px

.slick-dots--accent
	text-align: center
	margin-top: 50px
	li
		display: inline-block
		margin-right: 10px
		&:last-child
			margin-right: 0
		button
				border-radius: 50%
				border: 2px solid $accent
				background-color: transparent
				height: 10px
				width: 10px
				font-size: 0
				line-height: 0
				padding: 0
				cursor: pointer
		&.slick-active
			button
				background-color: $accent

/////////////////////SECTION TEAM END/////////////////

/////////////////////SECTION TEAM-CTA START/////////////////

#team-cta
	background: url(../img/team-cta-bg.jpg) no-repeat center
	background-size: cover
	text-align: center
	color: $lightTextColor
	p
		margin-bottom: 30px

/////////////////////SECTION TEAM-CTA END/////////////////

@import "media" // Always at the end
